.saveButton, .editButton {
 position: absolute;
 top: 450px;
 right: -15px;
}

.editButton {
 position: absolute;
 top: 370px;
 right: 5px;
}
.wrapper {
	display: flex;
  justify-content: center;
}
.journalForm {
	/*display: flex;*/
	position: relative;
	width: 400px;
  height: 460px;
}

textarea.notebook{
    background-color: #fff;
    padding:  27px 10px 0 43px;
    font-size: 14px;
    line-height: 1.8em;
    outline: none;
		background-image:
		linear-gradient(90deg, transparent 39px, #abced4 39px, #abced4 41px, transparent 41px),
		linear-gradient(#eee .1em, transparent .1em);
		background-size: 100% 1.8em;
    border: 13px solid #e6e6e6;
    border-radius: 5px;
}
