
.panel-heading-custom .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e094";
    float: right;
    color: grey;
}
.panel-heading-custom .accordion-toggle:after {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #999;
}
.panel-body {
  background: #FFFFFF !important;
}
.child {
  background: #F8F8F8 !important;
}
#headingOne0 {
  background-color: #70c1b3 !important;
}

#headingOne1, #headingOne2, #headingOne3, #headingOne4, #headingOne5, #headingOne6,#headingOne7,#headingOne8,
#headingOne9 {
  background-color: #cee6e2 !important;
}

#headingOne14 {
  background-color: rgba(243,255,189) !important;
}
#headingOne15, #headingOne16, #headingOne17, #headingOne18, #headingOne19, #headingOne20,#headingOne21,#headingOne22
{
  background-color: rgba(243,255,189,.50) !important;
}
#headingOne22 {
  background-color: rgba(254,147,140)!important;
}
#headingOne23, #headingOne24, #headingOne25, #headingOne26, #headingOne27, #headingOne28,#headingOne29,#headingOne30,
#headingOne31, #headingOne32, #headingOne33, #headingOne34, #headingOne35, #headingOne36,#headingOne37
{
  background-color: rgba(254,147,140,.50)!important;
}

#headingOne38 {
  background-color: #e6b89c !important;
}
#headingOne56 {
  background-color: #ead2ac !important;
}
#headingOne68 {
  background-color: #9cafb7 !important;
}
#headingOne89 {
  background-color: #4281a4 !important;
}
#headingOne10 {
  background-color: #b2dbbf !important;
}
#headingOne11,#headingOne12,#headingOne13 {
  background-color: rgba(178, 219, 191,.50 ) !important;
}

.panel-heading-custom .accordion-toggle:after {
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #999;      /* adjust as needed */
}
