
#headingOne0 {
  background-color: #70c1b3 !important;
  opacity: 0.5;
}
#headingOne31 {
  background-color: #f3ffbd !important;
}
#headingOne35 {
  background-color: #fe938c !important;
}
#headingOne43 {
  background-color: #e6b89c !important;
}
#headingOne59 {
  background-color: #ead2ac !important;
}
#headingOne77 {
  background-color: #9cafb7 !important;
}
#headingOne89 {
  background-color: #4281a4 !important;
}
#headingOne10 {
  background-color: #b2dbbf !important;
  opacity: 0.5;
}
