
#headingOne0 {
  background-color: #70c1b3 !important;
}
#headingOne0, #headingOne1, #headingOne2, #headingOne3, #headingOne4, #headingOne5, #headingOne6,#headingOne7,#headingOne8,
#headingOne9 {
  background-color: #9ccec5 !important;
}

#headingOne31 {
  background-color: #f3ffbd !important;
}
#headingOne35 {
  background-color: #fe938c !important;
}
#headingOne43 {
  background-color: #e6b89c !important;
}
#headingOne59 {
  background-color: #ead2ac !important;
}
#headingOne77 {
  background-color: #9cafb7 !important;
}
#headingOne89 {
  background-color: #4281a4 !important;
}
#headingOne10 {
  background-color: #b2dbbf !important;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

